---
import type { Props } from '@astrojs/starlight/props';
---

<div class="hero-section">
  <h1>{Astro.props.title}</h1>
  <p class="subtitle">
    Guía Didáctica de Proyecto Intermodular I y II para el ciclo formativo de
    Desarrollo de Aplicaciones Web (DAW)
  </p>
</div>
